<header>
    <img 
    src="../../../../assets/img/portifolio carlos.png"
    alt="Carlos antonio maia"
    width="130px"
    height="130px"
    loading="eager"
    >
    <h1><strong>CARLOS ANTONIO MAIA</strong></h1>
</header>

<aside>
    <div class="container">

        <p>Full-Stack Java | Angular | Mongodb</p>
        <p>Belo Horizonte, Minas Gerais, Brasil</p>
        <p>
            Estou na área de desenvolvimento a 2 anos 
        </p>

        <nav>
            <ul>
               <li>
                <a href="../../../../assets/pdf/curriculo carlosmaia.pdf" target="_blank" class="btn btn-primary">
                    Download Cv
                </a>
                
               </li> 
               <li>
                <a href="http://www.linkedin.com/in/carlosmaia27" target="_blank" class="btn btn-secundary">
                    LinkedIn
                </a>
               </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img src="../../../../assets/icons/whatsapp.svg" 
                alt="Icone para contato do whatsapp"
                width="22px"
                height="24px"
                >
                <figcaption>
                    <a href="http://api.whatsapp.com/send?phone=5531971587055&text=01%C3%A1%20Carlos,%20preciso%20de%20um%20job!" target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>Whatsapp: (31) 971587055</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="../../../../assets/icons/mail.svg" 
                alt="Icone para contato do Email"
                width="22px"
                height="24px"
                >
                <figcaption>
                    <a href="mailto:ferrarimaia@yahoo.com.br" target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>Email: ferrarimaia&#64;yahoo.com.br</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>
